<%= image_tag('logo-seas.png') %>

<h2 class="text-center">Análise e acompanhamento do inscrito</h2>

<% if(!params[:id].nil?) %>
  <% inscricao_lideranca = InscricaoLideranca.find_by(slug: params[:id]) %>
  <% if(inscricao_lideranca.finalizar?) %>
    <div style="border: 1px solid #cdcdcd; padding: 5px 10px 0px 10px; text-align: center; background-color: #48bb6b; color: #FFF; font-weight: bold; margin: 20px 30% 20px 30%; border-radius: 10px;">
      <div>Nº Inscrição</div>
      <div style="font-size: 40px;margin: -10px 0 0 0;"><%= "%.5i" %inscricao_lideranca.id %></div>
    </div>
  <% end %>
<% end %>
<br>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Avaliação dos dados pessoais
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <% if !@inscricao_lideranca.usuario_corrigiu_dados.nil? %>
          <% usuario = Usuario.find(@inscricao_lideranca.usuario_corrigiu_dados) %>
          <b>Corrigido por:</b> <%= usuario.email %>
        <% end %>
        <%= render 'show', inscricao_lideranca: @inscricao_lideranca %>
        <br>

        <%= form_tag url_for(controller: "inscricao_liderancas", action: "analisar_dados_obs"), method: "post" do %>
          <%= hidden_field_tag :id, @inscricao_lideranca.slug %>
          <b><%= label_tag "Análise da inscrição" %></b>
          <% if @inscricao_lideranca.observacao.nil? %>
            <%= text_area_tag :observacao, @inscricao_lideranca.observacao, class: "form-control" %>
          <% else %>
            <%= text_area_tag :observacao, @inscricao_lideranca.observacao, class: "form-control", disabled: true %>
            <%#= @inscricao_lideranca.observacao %>
          <% end %>
          <br>
          <!--DESABILITA O CHECK SE O RECURSO DA ANALISE DE DADOS FOR ACEITA. UMA VEZ ACEITO, O CANDIDATO REENGRESSA NA SELEÇÃO E NAO PODE MAIS SER EXCLUIDO-->
          <% if !@inscricao_lideranca.reclassificar_recurso_candidato_dados %>
            <div class="alert alert-info" role="alert">
              <h5>Situação da inscrição</h5>
              <i class="fas fa-exclamation-triangle" style="color: #eccf00;"></i>
              <% if @inscricao_lideranca.status_acompanhamento == "Desclassificado" %>
                <% if @inscricao_lideranca.observacao.nil? %>
                  <%= radio_button_tag :desclassificar, "Deferir", false, required: 'required' %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", true, required: 'required' %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% else %>
                  <%= radio_button_tag :desclassificar, "Deferir", false, required: 'required', disabled: true %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", true, required: 'required', disabled: true %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% end %>
              <% else %>
                <% if @inscricao_lideranca.observacao.nil? %>
                  <%= radio_button_tag :desclassificar, "Deferir", true, required: 'required' %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", false, required: 'required' %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% else %>
                  <%= radio_button_tag :desclassificar, "Deferir", true, required: 'required', disabled: true  %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", false, required: 'required', disabled: true  %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% end %>
              <% end %>
              <!--<label for="desclassificar">Indeferido</label>-->
            </div>
          <% end %>
          <br>
          <!--RECURSO DE ANALISE DE DADOS-->
          <% if !@inscricao_lideranca.recurso_candidato_dados.blank? %>
            <div class="div_borda">
              <h5>Análise dos Dados Pessoais</h5><hr>
              <p><b>Pedido de Recurso:</b><br>
              <span style="font-style: italic;"><%= @inscricao_lideranca.recurso_candidato_dados %></span></p>
              <p><b>Resposta:</b><br>
              <% if @inscricao_lideranca.resposta_recurso_candidato_dados.nil? %>
                <%= text_area_tag :resposta_recurso_candidato_dados, @inscricao_lideranca.resposta_recurso_candidato_dados, class: "form-control", required: true %></p>
              <% else %>
                <%= @inscricao_lideranca.resposta_recurso_candidato_dados %><br>
              <% end %>
              <!-- SÓ EXIBE OS RADIOS BUTTON SE NAO ESXIXTIR RESPOSTA-->
              <% if @inscricao_lideranca.resposta_recurso_candidato_dados.nil? %>
                <% if @inscricao_lideranca.reclassificar_recurso_candidato_dados? %>
                  <%= radio_button_tag :reclassificar_fase_1, "Deferir", true, required: 'required' %> <label for="reclassificar_fase_1_Deferir">Deferir Recurso</label>
                  <%= radio_button_tag :reclassificar_fase_1, "Indeferir", false, required: 'required' %> <label for="reclassificar_fase_1_Indeferir">Indeferir Recurso</label>
                <% else %>
                  <%= radio_button_tag :reclassificar_fase_1, "Deferir", false, required: 'required' %> <label for="reclassificar_fase_1_Deferir">Deferir Recurso</label>
                  <%= radio_button_tag :reclassificar_fase_1, "Indeferir", true, required: 'required' %> <label for="reclassificar_fase_1_Indeferir">Indeferir Recurso</label>
                <% end %>
              <% else %>
                <br>
                <% if @inscricao_lideranca.reclassificar_recurso_candidato_dados? %>
                  <span class="badge badge-success">Candidato deferido no recurso</span>
                <% else %>
                  <span class="badge badge-danger">Candidato indeferido no recurso</span>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <div class="actions" style="text-align: center">
            <%= submit_tag "Conferir informações", class: 'btn btn-lg btn-success' %>
          </div>
          <%#= link_to 'Voltar', mostrar_lideranca_inscricao_liderancas_path(id: @inscricao_lideranca.slug), class: 'btn btn-warning' %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Avaliação dos dados curricular
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <%= render 'form_correcao', inscricao_lideranca: @inscricao_lideranca %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Responder recursos
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        
        <%= form_tag url_for(controller: "inscricao_liderancas", action: "analisar_dados_obs"), method: "post" do %>
        <%#= form_tag form_for(:url => {controller: :inscricao_servidors, action: :analisar_dados_obs}, html: { class: 'form-horizontal' }) do |f| %>
          <%= hidden_field_tag :id, @inscricao_lideranca.slug %>
          <b><%= label_tag "Análise da inscrição" %></b>
          <% if @inscricao_lideranca.observacao.nil? %>
            <%= text_area_tag :observacao, @inscricao_lideranca.observacao, class: "form-control" %>
          <% else %>
            <%= text_area_tag :observacao, @inscricao_lideranca.observacao, class: "form-control", disabled: true %>
            <%#= @inscricao_lideranca.observacao %>
          <% end %>
          <br>
          <!--DESABILITA O CHECK SE O RECURSO DA ANALISE DE DADOS FOR ACEITA. UMA VEZ ACEITO, O CANDIDATO REENGRESSA NA SELEÇÃO E NAO PODE MAIS SER EXCLUIDO-->
          <% if !@inscricao_lideranca.reclassificar_recurso_candidato_dados %>
            <div class="alert alert-info" role="alert">
              <h5>Situação da inscrição</h5>
              <i class="fas fa-exclamation-triangle" style="color: #eccf00;"></i>
              <% if @inscricao_lideranca.status_acompanhamento == "Desclassificado" %>
                <% if @inscricao_lideranca.observacao.nil? %>
                  <%= radio_button_tag :desclassificar, "Deferir", false, required: 'required' %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", true, required: 'required' %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% else %>
                  <%= radio_button_tag :desclassificar, "Deferir", false, required: 'required', disabled: true %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", true, required: 'required', disabled: true %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% end %>
              <% else %>
                <% if @inscricao_lideranca.observacao.nil? %>
                  <%= radio_button_tag :desclassificar, "Deferir", true, required: 'required' %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", false, required: 'required' %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% else %>
                  <%= radio_button_tag :desclassificar, "Deferir", true, required: 'required', disabled: true  %> <label for="desclassificar_Deferir">Deferir inscrição</label>
                  <%= radio_button_tag :desclassificar, "Indeferir", false, required: 'required', disabled: true  %> <label for="desclassificar_Indeferir">Indeferir inscrição</label>
                <% end %>
              <% end %>
              <!--<label for="desclassificar">Indeferido</label>-->
            </div>
          <% end %>
          <br>
          <!--RECURSO DE ANALISE DE DADOS-->
          <% if !@inscricao_lideranca.recurso_candidato_dados.blank? %>
            <div class="div_borda">
              <h5>Análise dos Dados Pessoais</h5><hr>
              <p><b>Pedido de Recurso:</b><br>
              <span style="font-style: italic;"><%= @inscricao_lideranca.recurso_candidato_dados %></span></p>
              <p><b>Resposta:</b><br>
              <% if @inscricao_lideranca.resposta_recurso_candidato_dados.nil? %>
                <%= text_area_tag :resposta_recurso_candidato_dados, @inscricao_lideranca.resposta_recurso_candidato_dados, class: "form-control", required: true %></p>
              <% else %>
                <%= @inscricao_lideranca.resposta_recurso_candidato_dados %><br>
              <% end %>
              <!-- SÓ EXIBE OS RADIOS BUTTON SE NAO ESXIXTIR RESPOSTA-->
              <% if @inscricao_lideranca.resposta_recurso_candidato_dados.nil? %>
                <% if @inscricao_lideranca.reclassificar_recurso_candidato_dados? %>
                  <%= radio_button_tag :reclassificar_fase_1, "Deferir", true, required: 'required' %> <label for="reclassificar_fase_1_Deferir">Deferir Recurso</label>
                  <%= radio_button_tag :reclassificar_fase_1, "Indeferir", false, required: 'required' %> <label for="reclassificar_fase_1_Indeferir">Indeferir Recurso</label>
                <% else %>
                  <%= radio_button_tag :reclassificar_fase_1, "Deferir", false, required: 'required' %> <label for="reclassificar_fase_1_Deferir">Deferir Recurso</label>
                  <%= radio_button_tag :reclassificar_fase_1, "Indeferir", true, required: 'required' %> <label for="reclassificar_fase_1_Indeferir">Indeferir Recurso</label>
                <% end %>
              <% else %>
                <br>
                <% if @inscricao_lideranca.reclassificar_recurso_candidato_dados? %>
                  <span class="badge badge-success">Candidato deferido no recurso</span>
                <% else %>
                  <span class="badge badge-danger">Candidato indeferido no recurso</span>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <br>
          <!--RECURSO DE PONTUAÇÃO-->
          <% if !@inscricao_lideranca.recurso_entrevista.blank? %>
            <div class="div_borda">
              <h5>Análise da Pontuação dos Currículos</h5><hr>
              <p><b>Pedido de Recurso:</b><br>
              <span style="font-style: italic;"><%= @inscricao_lideranca.recurso_entrevista %></span></p>
              <p><b>Resposta:</b><br>
              <% if @inscricao_lideranca.resposta_recurso_entrevista.nil? %>
                <%= text_area_tag :resposta_recurso_entrevista, @inscricao_lideranca.resposta_recurso_entrevista, class: "form-control", required: true %></p>
              <% else %>
                <%= @inscricao_lideranca.resposta_recurso_entrevista %><br>
              <% end %>
              <!-- SÓ EXIBE OS RADIOS BUTTON SE NAO ESXIXTIR RESPOSTA-->
              <% if @inscricao_lideranca.resposta_recurso_entrevista.nil? %>
                <% if @inscricao_lideranca.reclassificar_recurso_entrevista? %>
                  <%= radio_button_tag :reclassificar_fase_2, "Deferir", true, required: 'required' %> <label for="reclassificar_fase_2_Deferir">Deferir Recurso</label>
                  <%= radio_button_tag :reclassificar_fase_2, "Indeferir", false, required: 'required' %> <label for="reclassificar_fase_2_Indeferir">Indeferir Recurso</label>
                <% else %>
                  <%= radio_button_tag :reclassificar_fase_2, "Deferir", false, required: 'required' %> <label for="reclassificar_fase_2_Deferir">Deferir Recurso</label>
                  <%= radio_button_tag :reclassificar_fase_2, "Indeferir", true, required: 'required' %> <label for="reclassificar_fase_2_Indeferir">Indeferir Recurso</label>
                <% end %>
              <% else %>
                <br>
                <% if @inscricao_lideranca.reclassificar_recurso_entrevista? %>
                  <span class="badge badge-success">Recurso deferido</span>
                <% else %>
                  <span class="badge badge-danger">Recurso indeferido</span>
                <% end %>
              <% end %>
              <%= link_to '<br>Alterar Pontuação'.html_safe, edit_correcao_inscricao_servidors_path(id: @inscricao_lideranca.slug, fase: "revisao"), target: "_blank", style: "display:none", id: "alterar_pontuacao" %>
            </div>
          <% end %>
          <br><br>
          <%= submit_tag "Conferir informações", class: 'btn btn-success' %>
          <%= link_to 'Voltar', inscricao_liderancas_path, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br><br>
<div class="actions" style="text-align: center">
  <%= link_to '<i class="fas fa-backward"></i> Voltar'.html_safe, inscricao_liderancas_path, class: 'btn btn-lg btn-warning' %>
</div>
<br><br>
<script>
$("#reclassificar_fase_2_Deferir").change(function () {
  $('#alterar_pontuacao').css('display','block');
});
$("#reclassificar_fase_2_Indeferir").change(function () {
  $('#alterar_pontuacao').css('display','none');
});

$("#desclassificar_Deferir").change(function () {
  $('#observacao').prop("required",false);
});
$("#desclassificar_Indeferir").change(function () {
  $('#observacao').prop("required",true);
});

</script>