<h2>Lista Total</h2>
<h3>Com arquivos (<%= @correto.length %>)</h3>
<%= @correto %>
<h3>Sem arquivos (<%= @errado.length %>)</h3>
<%= @errado %>
<h3>Total <%= @correto.length + @errado.length %></h3>

<h2>Lista Finalizados</h2>
<h3>Com arquivos (<%= @correto_finalizado.length %>)</h3>
<%= @correto_finalizado %>
<h3>Sem arquivos (<%= @errado_finalizado.length %>)</h3>
<%= @errado_finalizado %>
<h3>Total <%= @correto_finalizado.length + @errado_finalizado.length %></h3>